<app-topbar title="Cadastrar Momento" backLink="tabs/memorable-time" (save)="create()" showSave="true">
</app-topbar>

<ion-content>

  <form class="form form-memorable-time-new" [formGroup]="form" autocomplete="off" [class.submitted]="formSubmitted"
    (ngSubmit)="create()">

    <ion-item-group>
      <ion-item-divider color="secondary">
        <ion-label>Acontecimento</ion-label>
      </ion-item-divider>
    <ion-item>
      <ion-label for="description" position="floating">Foi memorável</ion-label>
      <ion-input id="description" formControlName="description" placeholder="Nascimento"></ion-input>
    </ion-item>
    <app-validation-message [control]="form.get('description')" [submitted]="formSubmitted" mode="submitted">
    </app-validation-message>

    <ion-item>
      <ion-label for="action" position="floating">detalhe</ion-label>
      <ion-input id="action" formControlName="action" placeholder="Meu nascimento foi há"></ion-input>
    </ion-item>
    <app-validation-message [control]="form.get('action')" [submitted]="formSubmitted" mode="submitted">
    </app-validation-message>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="secondary">
        <ion-label>Quando</ion-label>
      </ion-item-divider>
      <ion-item (click)="form.get('historical').value = !form.get('historical').value">
        <ion-label>Antes de 1800?</ion-label>
        <ion-toggle color="primary" [checked]="form.get('historical').value"></ion-toggle>
      </ion-item>
    <ion-item *ngIf="!form.get('historical').value">
      <ion-label for="date" position="floating">Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date" [max]="today" min="1800"
      cancel-text="cancelar" done-text="ok">
    </ion-datetime>
    </ion-item>
    <ion-item *ngIf="form.get('historical').value">
        <ion-label for="date" position="stacked">Data</ion-label>
        <ion-input type="date" formControlName="date" placeholder="dd/mm/yyyy" max="{{'1799-12-31' | date:'yyyy-MM-dd'}}"></ion-input>
      </ion-item>

    <app-validation-message [control]="form.get('date')" [submitted]="formSubmitted" mode="submitted">
    </app-validation-message>

    <ion-item>
      <ion-label for="date" position="floating">Horário</ion-label>
      <ion-datetime displayFormat="HH:mm" formControlName="time"
      cancel-text="cancelar" done-text="ok">
    </ion-datetime>
    </ion-item>
    <app-validation-message [control]="form.get('time')" [submitted]="formSubmitted" mode="submitted">
    </app-validation-message>
    </ion-item-group>

  </form>

  <ion-item-divider *ngIf="!form.invalid">
    <ion-label>
      {{sharePreview()}}
    </ion-label>
  </ion-item-divider>

  <app-memorable-card *ngIf="!form.invalid" headerColor="light" [memorableTime]="preview">

</app-memorable-card>

</ion-content>