<app-topbar [showDelete]="memorableSelected" [showShare]="memorableSelected" (delete)="delete()" (share)="share()">
</app-topbar>
<ion-content>
  <app-memorable-card *ngFor="let memorableTime of memorableTimes" [headerColor]="cardColor(memorableTime)"
    (hold)="onSelect(memorableTime)" (share)="share(memorableTime)" [memorableTime]="memorableTime">

  </app-memorable-card>
  <ion-grid *ngIf="memorableTimes && !memorableTimes.length">
    <ion-row>
      <ion-col class="ion-float-left ion-padding-vertical">
        <ion-text>
          Para começar a visualizar os seus momentos memoráveis, toque em <ion-icon name="add"></ion-icon> na
          parte inferior da tela.
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="memorable-time/new" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>