.ui-message {
    background-color: transparent;
    display: block;
    font-size: .8em;
    border: none;
    margin: 0;
    padding: 0 .25em .25em;

    &:first-of-type { margin-top: .25em }

    &.ui-message-error { color: #ab1a0f }
  }